<%= render 'shared/illustration', item: drink %>
<h3><%= link_to drink.name, edit_drink_path(drink) %></h3>
<p><%= drink.description %></p>
<% if drink.calories %>
  <p>Valor energético: <%= drink.calories %> kcal</p>
<% end %>
<% if drink.alcoholic %>
  <p>contém álcool</p>
<% end %>